#name {
  color: white;
  text-align: center;
}
body {
  background-color: black;
  color: white;
}
.name {
  line-height: 0.2;
}
.byline {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1;
}
