#name {
  color: white;
  text-align: center;
}
body {
  background-color: black;
  color: white;
}
.name {
  line-height: 0.2;
}
.byline {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1;
}
li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  color:black;
}
li {
  float: left;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: grey;
  width: 100%;
  position: justify;
}
li a:hover {
  background-color: lightgrey;
}
